/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
    --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
    --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
  }


/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  }

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,2xl,12 */

:root {
    --grid-max-width: 108.75rem;
    --grid-gutter: var(--space-s-xl, clamp(1.125rem, 0.5335rem + 2.9577vw, 3.75rem));
    --grid-columns: 12;
  }

:root {
  --main-color-dark: #13293D;
  --main-color-light: #A0C5E3;
  --accent-color-dark: #16324f;
  --accent-color-light: #4E9AD0;
  /* brand variables */
  --font-color: var(--main-color-light);
  --font-color-reversed: var(--main-color-dark);
  --background-color: var(--main-color-dark);
  --background-color-reversed: var(--main-color-light);
  --display-font-family: 'Alumni Sans';
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--main-color-dark);
    --font-color-reversed: var(--main-color-light);
    --background-color: var(--main-color-light);
    --background-color-reversed: var(--main-color-dark);

  }
}

  
  .u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
  }
  
  .u-grid {
    display: grid;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  body {
    background: var(--background-color);
  }

  a {
    color: inherit;
  }

/* Fonts */

h1, h2, h3, h4, h5 {
  font-family: var(--display-font-family);
  font-weight: bold;
  font-style: italic;
}

body {
  color: var(--font-color);
  font-family: Assistant;
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
    line-height: 1em;
}

h3 {
    font-size: var(--step-3);
    line-height: 1em;
    margin-top: 0.8em;
}

body {
    font-size: var(--step-0);
}

p {
    font-size: var(--step-0);
    padding: var(--space-m) 0;
}


.postlist-grid-container {
	container-type: inline-size;
}


.postlist-grid {
    --rows: 4;
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(var(--rows), 1fr);
}

.postlist-item {
    /* background: var(--background-color-reversed);
    color: var(--font-color-reversed); */
    border: 1px solid var(--background-color-reversed);
    border-width: 0 0 1px 0px;
    /* border-bottom-width: 1px; */
    padding: var(--space-s);
    padding-bottom: var(--space-m);
    &:hover {
      border-bottom-width: var(--space-m);
      padding-bottom: 1px;
      background: rgba(255, 255, 255, 0.01);
    }
    a {
      text-decoration: none;
    }

    h2 {
      margin: var(--space-m) 0;
    }
}

@container (max-width: 40rem) {
    .postlist-grid {
      --rows: 1;
    }
}

@container (min-width: 40rem) and (max-width: 60rem) {
    .postlist-grid {
      --rows: 2;
    }
}

@container (min-width: 60rem) and (max-width: 80rem) {
  .postlist-grid {
    --rows: 3;
  }
}

.header {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  margin: var(--space-m) auto var(--space-m) auto;

  justify-content: space-between;
}

.nav {
  display: flex;
  gap: var(--space-s);
  text-transform: uppercase;
  a {
    text-decoration: none;
    padding: var(--space-2xs);
    font-family: var(--display-font-family);
    font-size: var(--step-1);
    &:hover {
      background: var(--background-color-reversed);
      color: var(--font-color-reversed);
    }
  }
}

.post-metadata {
  display: flex;
  gap: var(--space-s);
  margin: var(--space-m) 0;
  a {
    display: inline-block;
    text-decoration: none;
    padding: var(--space-3xs);
    background: var(--accent-color-light);
    color: var(--main-color-dark);
    font-family: var(--display-font-family);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.post-image {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}


.post-description {
  display: flex;
  flex-direction: column;
  p {
    margin-top: auto;
  }
}


.article img {
  display: inline-block;
  margin: var(--space-s) auto;
}

.content {
  padding-bottom: var(--space-xl);
}



pre {
	width: calc(min(80ch, 80%));
  margin: 0 auto !important;
  display: flex;
  border-bottom: 5px solid rgb(23, 23, 23);
  border-radius: 0 !important;
  font-size: var(--step--1) !important;
}

.cover {
  display: flex;
  justify-content: center;
}







/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: inherit;
}


/* PREV NEXT */
.links-nextprev {
  display: grid;
  grid-template-areas: "prev next";
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 2em 0;
}

.links-nextprev .link-prev {
  grid-area: 'prev';
}

.links-nextprev .link-next {
  grid-area: 'next';
  text-align: right;
}

footer {
  background: rgba(0, 0, 0, 0.6);
  color: #DDD;
  padding: 3em 0 6em 0;
}



body {
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}


.article-link {
  display: flex;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  width: calc(min(80ch, 100%));
  margin: 0.5em auto;
  padding: 1em;
  align-items: center;
}

.article-link img {
  flex: 1;
  width: 35%;
  height: 100%;
}

.article-link .details {
  flex: 4;
  margin-left: 1em;
}

.link-title {
  font-weight: bold;
  font-size: var(--step-1);
}

.article-link p {
  font-size: var(--step--1) !important;
}

.article img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

.link-url {
  font-size: var(--step--2) !important;
  text-align: right;
}


/* codepen */
.cp_embed_wrapper {
  width: calc(min(80ch, 100%));
  margin: 0 auto;
}

.player {
  margin: 1em auto;
}