@view-transition {
    navigation: auto;
}

.article h1 {
    view-transition-name: article-title;
}

.article .cover img {
    view-transition-name: article-cover;
}
.article-header h2 {
    view-transition-name: article-subtitle;
}